<div class="section">
    <h3>Change Password</h3>

    <div class="home-section">

        <form name="updatePasswordForm" novalidate="">
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Old Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control required" ng-model="profile.oldPassword" ng-minlength="6" required />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">New Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control required" ng-model="profile.password" ng-minlength="6" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Confirm new Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control required" ng-model="profile.confirmPassword"  ng-minlength="6" required/>
                </div>
            </div>
        </form>

        <button type="submit" ng-click="updatePassword(updatePasswordForm)">
            <span>Update</span>
        </button>
    </div>

</div>