<div class="section">
    <h3>Forgot Password</h3>
    <div class="home-section">
        <form name="forgotPasswordForm" novalidate="">
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control required" ng-model="profile.email" name="email" id="email" required/>
                </div>
            </div>
        </form>

        <button type="submit" ng-click="generateTemporaryPassword(forgotPasswordForm)">
            <span>Submit</span>
        </button>
    </div>
</div>