<!-- Navbar -->
<div class="navbar navbar-custom sticky navbar-header-wrap" role="navigation" id="sticky-nav">
    <div class="container"> 
        
        <!-- Navbar-header -->
        <div class="navbar-header"> 
            
            <!-- Responsive menu button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            
            <!-- LOGO --> 
            <a class="navbar-brand logo" ng-click="redirectToUrl('home')" href=""><img src="images/tutorialpoint-logo.svg" alt="" /></a> </div>
        <!-- end navbar-header --> 
        
        <!-- menu -->
        <div class="navbar-collapse collapse" id="navbar-menu"> 
            
            <!-- Navbar left -->
            <ul class="nav navbar-nav nav-custom-left">
                <li class="active"> <a href=""  ng-click="redirectToUrl('home')" class="nav-link">Home</a> </li>
                <li> <a href="#features" class="nav-link">Features</a> </li>
                <li> <a href="#pricing" class="nav-link">Plans</a> </li>
                <li> <a href="#clients" class="nav-link">Clients</a> </li>
            </ul>
            
            <!-- Navbar right -->
            <ul class="nav navbar-nav navbar-right" ng-show="!isLoggedIn">
                <li><a href ng-click="redirectToUrl('login')">Login</a></li>
                <li><a href ng-click="redirectToUrl('register')" class="btn btn-white-fill navbar-btn">Sign Up</a></li>
            </ul>
            
	        <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn">
	            <li><a href ng-click="redirectToUrl('support')">Contact Support</a></li>
	            <li><a href ng-click="redirectToUrl('editProfile')">Edit Profile</a></li>
	            <li><a href ng-click="redirectToUrl('changePassword')">Change Password</a></li>
	            <li><a href ng-click="logout();" class="btn btn-white-fill navbar-btn">Logout</a></li>
	        </ul>
            
             
        </div>
        <!--/Menu --> 
    </div>
    <!-- end container --> 
</div>
<!-- End navbar-custom -->


<!-- <div class="navbar" data-target="#navbar-menu"> 
        <ul  id="dropdown1" class="dropdown-content">
            <li><a href ng-click="redirectToUrl('support')" >Contact Support</a></li>
            <li><a href ng-click="redirectToUrl('editProfile')" >Edit Profile</a></li>
            <li><a href  ng-click="redirectToUrl('changePassword')">Change Password</a></li>
            <li><a href ng-click="logout();" >Logout</a></li>
        </ul> -->
<!--         <nav class="" ng-click="$event.preventDefault()">
            <div class="container nav-container">
                <div class="nav-wrapper" id="nav-bar">
                    <a ng-click="redirectToUrl('home')" href class="brand-logo">
                            <img id="logo" src="images/tutorialpoint-logo.svg" width="200"> 
                    </a>
                    <div>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color: #444;">menu</i></a>
                        <ul class="right hide-on-med-and-down customnav" id="labels">
                            <li ><a href ng-click="redirectToUrl('home')">Home</a></li>
                            <li ng-show="!isLoggedIn"><a href ng-click="redirectToUrl('login')">Sign In</a></li>
                            <li ng-show="!isLoggedIn"><a href ng-click="redirectToUrl('register')">Sign Up</a></li>
                            <li ng-show="isLoggedIn">
                                <a class="dropdown-button valign-wrapper" href="javascript:void(0);"
                                   data-activates="dropdown1" dropdown >
                                    <img src="images/profile-photo.jpg" class="circle profile-photo">{{ loggedInUsername }}
                                    <i class="material-icons right">arrow_drop_down</i>
                                </a>
                            </li>
                        </ul>

                        <ul class="side-nav" id="mobile-demo" ng-show="!isLoggedIn">
                            <li><a href ng-click="redirectToUrl('home')" >Home</a></li>
                            <li><a href ng-click="redirectToUrl('login')">Sign In</a></li>
                            <li><a href ng-click="redirectToUrl('register')">Sign Up</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
        </nav>
 -->                                
    <!-- </div> -->