
<!-- Navbar -->
<div class="navbar navbar-custom sticky" role="navigation" id="sticky-nav">
    <div class="container"> 
        <div class="navbar-header"> 
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            
            <!-- LOGO --> 
            <a ng-click="redirectToUrl('home')" href class="brand-logo">
                <img id="logo" src="images/tutorialpoint-logo.svg" width="200"> 
            </a>
            
        </div>
        <!-- end navbar-header --> 
        
        <!-- menu -->
        <div class="navbar-collapse collapse pdr0" id="navbar-menu"> 

            
            <ul class="nav navbar-nav navbar-right navbar-credential" ng-show="!isLoggedIn">
                <li> <a href="" ng-click="redirectToUrl('login')">Login</a> </li>
                <li> <a href="" ng-click="redirectToUrl('register')" class="btn btn-navbar-std">Sign up</a> </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right navbar-user" ng-show="isLoggedIn">
                
                <li class="dropdown nav-profile">
                    <a href class="dropdown-toggle pdr0" data-toggle="dropdown">
                        <img src="images/profile-photo.png" alt="" class="0 size-30x30 profile-photo">
                        Hi, {{ loggedInUsername }}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a role="button" tabindex="0" href ng-click="redirectToUrl('home')"><i class="fa fa-home"></i>Home</a></li>
                        <li><a role="button" tabindex="0" href ng-click="redirectToUrl('editProfile')"><i class="fa fa-user"></i>Account Settings</a></li>
                        <li><a role="button" tabindex="0" href ng-click="redirectToUrl('support')"><i class="fa fa-check"></i>Contact Support</a></li>
                        
                        <li class="divider"></li>
                        <li><a href="" role="button" tabindex="0" ng-click="logout();"><i class="fa fa-sign-out"></i>Logout</a></li>
                    </ul>
                </li>

                
            </ul>
        </div>
        <!--/Menu --> 
    </div>
    <!-- end container --> 
</div>
<!-- End navbar-custom --> 





<!-- <div class="navbar" data-target="#navbar-menu"> 
        <ul  id="dropdown1" class="dropdown-content">
            <li><a href ng-click="redirectToUrl('support')" >Contact Support</a></li>
            <li><a href ng-click="redirectToUrl('editProfile')" >Edit Profile</a></li>
            <li><a href  ng-click="redirectToUrl('changePassword')">Change Password</a></li>
            <li><a href ng-click="logout();" >Logout</a></li>
        </ul> -->
<!--         <nav class="" ng-click="$event.preventDefault()">
            <div class="container nav-container">
                <div class="nav-wrapper" id="nav-bar">
                    <a ng-click="redirectToUrl('home')" href class="brand-logo">
                            <img id="logo" src="images/tutorialpoint-logo.svg" width="200"> 
                    </a>
                    <div>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="color: #444;">menu</i></a>
                        <ul class="right hide-on-med-and-down customnav" id="labels">
                            <li ><a href ng-click="redirectToUrl('home')">Home</a></li>
                            <li ng-show="!isLoggedIn"><a href ng-click="redirectToUrl('login')">Sign In</a></li>
                            <li ng-show="!isLoggedIn"><a href ng-click="redirectToUrl('register')">Sign Up</a></li>
                            <li ng-show="isLoggedIn">
                                <a class="dropdown-button valign-wrapper" href="javascript:void(0);"
                                   data-activates="dropdown1" dropdown >
                                    <img src="images/profile-photo.jpg" class="circle profile-photo">{{ loggedInUsername }}
                                    <i class="material-icons right">arrow_drop_down</i>
                                </a>
                            </li>
                        </ul>

                        <ul class="side-nav" id="mobile-demo" ng-show="!isLoggedIn">
                            <li><a href ng-click="redirectToUrl('home')" >Home</a></li>
                            <li><a href ng-click="redirectToUrl('login')">Sign In</a></li>
                            <li><a href ng-click="redirectToUrl('register')">Sign Up</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
        </nav>
 -->                                
    <!-- </div> -->
    