<div align="center">
<!-- <div ng-include="demo.html"></div> -->
<nav class="{{active}}" ng-click="$event.preventDefault()">

			<!-- When a link in the menu is clicked, we set the active variable -->
			
			<div ng-if="!isStudent">
				<a href="#" class="tutorhome" ng-click="setActiveTab('tutorhome')">Available Lesson</a> 
				||
			</div>
			
			<a href="#" class="home" ng-click="setActiveTab('lessons')">Lesson History	</a>
			||
			<div ng-if="isStudent">
				<a href="#" class="about" ng-click="setActiveTab('newLesson')">New Lesson</a>
			||
			</div>
			<a href class="contact" ng-click="routeToPage('changePassword')">Change Password</a>
			||
			<a href class="contact" ng-click="routeToPage('editProfile')">Edit Profile</a>
			||
			<a href class="contact" ng-click="logout()">Logout</a>
		</nav>

		<!-- ng-show will show an element if the value in the quotes is truthful,
			 while ng-hide does the opposite. Because the active variable is not set
			 initially, this will cause the first paragraph to be visible. -->


		<div ng-show="active" ng-if="active=='lessons'">
			        <div><h4 align="center">Lessons</h4>
        

<table border="1">
   <tr>
   	<th>#</th>
   	<th>Subject</th>
      <th>Task Description</th>
      <th>Title</th>
      <th>Status</th>
   </tr>
   
   <tr ng-repeat = "lesson in lessonList">
      <td>{{$index+1}}</td>
      
      <td><a href ng-click="openLesson(lesson.id)">{{lesson.subject.name}}</a></td>
      
      <td>{{lesson.taskDescription}}</td>
      <td>{{lesson.title}}</td>
      <td>{{lesson.status.name}}</td>
   </tr>
</table>
        </div>
        </div>

		</div>
		
		<div ng-show="active" ng-if="active=='newLesson'">
			<div class="section">
    <h3>{{headingTitle}}</h3>

    <div class="home-section">
    
    <form name="lessonForm" novalidate="">
    
	     <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Subject</label>
	        <div class="col-sm-8">
				   <select required ng-model="lesson.subjectID">
	           <option value="-1">Select Subject</option>
       				<option ng-repeat="subject in subjectsList" value="{{subject.id}}">
	      				{{subject.name}}
	      			</option>
       			</select>
	        </div>
	    </div>
    
	    <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Title</label>
	        <div class="col-sm-8">
	          <input type="text" class="form-control required" ng-model="lesson.title"  id="title" required/>
	        </div>
	    </div>
	    
	    <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Task Description</label>
	        <div class="col-sm-8">
	          <input type="text" class="form-control required" ng-model="lesson.taskDescription"  id="taskDescription" required/>
	        </div>
	    </div>
	    
	     <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Special Requirements</label>
	        <div class="col-sm-8">
	          <input type="text" class="form-control required" ng-model="lesson.specialRequirement" id="specialRequirement" />
	        </div>
	    </div>
	    
	    <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Deadline</label>
	        <div class="col-sm-8">
	         <input type="date" ng-model="lesson.deadline" id="deadline" required>
	        </div>
	    </div>
	    
	    <!-- <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Upload Files</label>
	        <div class="col-sm-8">
	          <label for="" class="col-sm-4 control-label">Please provide a file uploader view.</label>
	        </div>
	    </div> -->
	</form>

		<div class="col-xs-6 col-xs-offset-3" style="width: 600px;">
			<div class="well">
				<form action="" class="dropzone" dropzone="" id="dropzone">
					<div class="dz-default dz-message">
					</div>
				</form>
			</div>
		</div>
		<div class="pull-right">
			<!--<button class="btn btn-success" ng-click="processDropzone()">Upload File</button>-->
			<button class="btn btn-danger" ng-click="resetDropzone()">Reset drop wizard</button>
		</div>
		<!--<div>
			<form>
				<label>File to download</label>
				<input ng-model="filename" type="text" placeholder="Filename" />
				<a class="btn btn-primary" href="" ng-href="{{ partialDownloadLink + filename }}">Download File</a>
			</form>
		</div>-->
	
        <button type="submit" ng-click="createLesson(lessonForm)">
            <span>Submit Lesson</span>
        </button>
    </div>

</div>
		</div>
		
		
		<div ng-show="active" ng-if="active=='tutorhome'">
			<div><h4 align="center">Lessons</h4>
				<table border="1">
   					<tr>
   						<th>#</th>
   						<th>Subject</th>
      					<th>Task Description</th>
      					<th>Title</th>
      					<th>Status</th>
   					</tr>
	   				<tr ng-repeat = "lesson in availableLessonList">
	      				<td>{{$index+1}}</td>
	      				<td><a href ng-click="openLesson(lesson.id, lesson.status.id)">{{lesson.subject.name}}</a></td>
	      				<td>{{lesson.taskDescription}}</td>
	      				<td>{{lesson.title}}</td>
	      				<td>{{lesson.status.name}}</td>
	   				</tr>
				</table>
        	</div>
		</div>
		
