
<!-- Features -->
<section class="section bg-light" id="features">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="title">It's designed for describing your app, agency or business</h3>
                <p class="text-muted sub-title">There are many variations of passages of Lorem Ipsum available, but the majority have suffered <br/>
                    designed for describing your app, agency or business.</p>
            </div>
        </div>
        <!-- end row -->
        
        <div class="row">
            <div class="col-sm-4">
                <div class="features-box"> <i class="fa fa-empire"></i>
                    <h4>Strategy Solutions</h4>
                    <p class="text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-box"> <i class="fa fa-empire"></i>
                    <h4>Digital Design</h4>
                    <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-box"> <i class="fa fa-empire"></i>
                    <h4>Analytics Solutions</h4>
                    <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        
        <div class="row">
            <div class="col-sm-4">
                <div class="features-box"> <i class="fa fa-empire"></i>
                    <h4>Strategy Solutions</h4>
                    <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-box"> <i class="fa fa-empire"></i>
                    <h4>Digital Design</h4>
                    <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-box"> <i class="fa fa-empire"></i>
                    <h4>Analytics Solutions</h4>
                    <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <!-- end row --> 
        
    </div>
    <!-- end container --> 
</section>
<!-- end Features --> 


<section class="section funfactor" id="funfactor">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="title text-white"></h3>
               
            </div>
        </div>
        <!-- end row -->
        
        <div class="row">
        <div class="col-md-3">
                            
                               <div class="icon-container">
						       <i class="fa fa-smile-o"></i>
			                   </div>
                                <div class="fun-info">
                                    <h2 class="timer numbers" data-from="0" data-to="5"> 5 </h2>
                                    <span class="fun-work">happy clients</span>
                                </div>
                            
                        </div>
                        <div class="col-md-3">
                            
                                <div class="icon-container">
						       <i class="fa fa-briefcase"></i>
			                   </div>
                                <div class="fun-info">
                                    <h2 class="timer numbers" data-from="0" data-to="9"> 9</h2>
                                    <span class="fun-work">project completed</span>
                                </div>
                            
                        </div>
                        <div class="col-md-3">
                            
                                <div class="icon-container">
						       <i class="fa fa-lightbulb-o"></i>
			                   </div>
                                <div class="fun-info">
                                    <h2 class="timer numbers" data-from="0" data-to="6"> 6 </h2>
                                    <span class="fun-work">branding</span>
                                </div>
                            
                        </div>
                         <div class="col-md-3">
                            
                                <div class="icon-container">
						       <i class="fa fa-coffee"></i> 
			                   </div>
                                <div class="fun-info">
                                    <h2 class="timer numbers" data-from="0" data-to="345"> 345</h2>
                                    <span class="fun-work">cups of coffee</span>
                                </div>
                            
                        </div>
        </div>
    </div>
</section>        






 
<!-- Clients -->
<section class="section bg-light" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="title">Trusted by Thousands</h3>
                <p class="text-muted sub-title">The clean and well commented code allows easy customization of the theme.It's <br/>
                    designed for describing your app, agency or business.</p>
            </div>
        </div>
        <!-- end row -->
        
        <div class="row text-center">
            <div class="col-sm-12">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="testimonial-description text-left">
                            <p class="text-muted"> "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classica, Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classica." </p>
                        </div>
                        <div class="testimonial-user-info user-info text-left">
                            <div class="testimonial-user-thumb user-thumb">CG</div>
                            <div class="testimonial-user-txt user-text">
                                <label class="testimonial-user-name user-name">Calebogden</label>
                                <p class="testimonial-user-position user-position text-muted">Another company , City</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial-description text-left">
                            <p class="text-muted"> "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classica, Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classica."</p>
                        </div>
                        <div class="testimonial-user-info user-info text-left">
                            <div class="testimonial-user-thumb user-thumb">DS</div>
                            <div class="testimonial-user-txt user-text">
                                <label class="testimonial-user-name user-name">Dancounsell</label>
                                <p class="testimonial-user-position user-position text-muted">Another company , City</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial-description text-left">
                            <p class="text-muted"> "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classica, Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classica." </p>
                        </div>
                        <div class="testimonial-user-info user-info text-left">
                            <div class="testimonial-user-thumb user-thumb">IG</div>
                            <div class="testimonial-user-txt user-text">
                                <label class="testimonial-user-name user-name">Indianguru</label>
                                <p class="testimonial-user-position user-position text-muted">Another company , City</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Col --> 
            
        </div>
        <!-- end row --> 
        
    </div>
</section>
<!--End  Clients --> 