<section class="bg-custom home" id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="home-fullscreen" id="home-fullscreen">
                    <div class="full-screen">
                        <div class="home-wrapper home-wrapper-alt">
                            <h1 class="font-light text-white">Welcome to <strong>TutorialPoint</strong></h1>
                            <h4 class="text-light">
                                A one stop solution where you can learn various IT solutions online and get trained highly skilled professionals. <br/>
                                You can also get your job done through out the various technologies.
                            </h4>
                            <a href="#!/login" class="btn btn-white-fill">Get Started</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <div class="title-box-icon text-white"> <i class="pe-7s-medal"></i>
                        <h3 class="title">Clean and Ultra Modern Design</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        
        <div class="row">
            <div class="col-sm-5">
                <div class="feat-description">
                    <h4 class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                    <p class="text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    <a href="#" class="btn btn-custom">Learn More</a> </div>
            </div>
            <div class="col-sm-7"> <img src="images/macbook.png" alt="img" class="img-responsive"> </div>
        </div>
        <!-- end row --> 
        
    </div>
    <!-- end container --> 
</section>

<section class="section bg-light" id="features">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="title">It's designed for describing your app, agency or business</h3>
                <p class="text-muted sub-title">There are many variations of passages of Lorem Ipsum available, but the majority have suffered <br/>
                    designed for describing your app, agency or business.</p>
            </div>
        </div>
        <!-- end row -->
        
        <div class="row">
            <div class="col-sm-4">
                <div class="features-box"> <i class="pe-7s-rocket"></i>
                    <h4>Strategy Solutions</h4>
                    <p class="text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-box"> <i class="pe-7s-science"></i>
                    <h4>Digital Design</h4>
                    <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-box"> <i class="pe-7s-display1"></i>
                    <h4>Analytics Solutions</h4>
                    <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        
        <div class="row">
            <div class="col-sm-4">
                <div class="features-box"> <i class="pe-7s-date"></i>
                    <h4>Strategy Solutions</h4>
                    <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-box"> <i class="pe-7s-credit"></i>
                    <h4>Digital Design</h4>
                    <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-box"> <i class="pe-7s-headphones"></i>
                    <h4>Analytics Solutions</h4>
                    <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>        
    </div>
</section>
