<!-- <div align="center">
    <table border="1">
        <tr>
            <th>Subject</th>
            <th>Task Description</th>
            <th>Title</th>
            <th>Status</th>
            <th>Fee Amount $</th>
            <th>Estimated work hours</th>
        </tr>
        <tr>
            <td>{{lesson.subject.name}}</td>
            <td>{{lesson.taskDescription}}</td>
            <td>{{lesson.title}}</td>
            <td>{{lesson.status.name}}</td>
            <td>{{lesson.dueAmount}}</td>
            <td>{{lesson.estimatedWorkEffort}}</td>
        </tr>
    </table>
    <br><br>
    <b>Messages</b>
        
    <div align="center">
        
            <div class="col-sm-8">
                <select ng-model="lessonUpdate.status.id" ng-change="checkSubmittedStatus(lessonUpdate.status.id)">
                <option value="-1">Update Status</option>
                <option  ng-repeat="lessonStatus in lessonStausList"
                    ng-if="lessonStatus.id > lesson.status.id" value="{{lessonStatus.id}}">
                    {{lessonStatus.name}}
                </option>
                        </select>
            </div>
            
        <table border="1">
            <tr>
                <th>#</th>
                <th>Filename</th>
            </tr>
            <tr ng-repeat="file in lesson.fileList | filter:{ fileType: 'question' }">
                <td>{{$index+1}}</td>
                <td><a href="/file/download/{{lesson.id}}?filename={{file.filePath}}&fileType=question" class="contact">
                {{file.actualFileName}}</a></td>
            </tr>
        </table>
    </div>
    <div align="center">
        <table border="1">
            <tr>
                <th>#</th>
                <th>Sender</th>
                <th>Message/Query</th>
                <th>Sent At</th>
            </tr>
            <tr ng-repeat="message in messageList">
                <td>{{$index+1}}</td>
                <td>{{message.createdBy}}</td>
                <td ng-if="message.messageType!='file'">{{message.description}}</td>
                <td ng-if="message.messageType=='file'">
                    <a href="/file/download/{{lesson.id}}?filename={{message.description}}&fileType=question" class="contact">
                        {{message.actualFileName}}
                    </a>
                </td>
                <td>{{message.createdDate | date:'dd MMM yyyy hh:mm a'}}</td>
            </tr>
        </table>
    </div>
    <div class="container">
        <input type="text" placeholder="Compose a new message..." ng-model="message.description"/>
        <div class="info">
            <button  ng-click="addMessage();">Send</button>
        </div>
        <br />
        <input type="file" file-model = "myFile">
        <button ng-click = "uploadFile()">upload me</button>
        <br>
        <br>
        <hr/>
        <div class="info" ng-if="showAnswerFillSection">
            <textarea rows="4" cols="20" ng-model="lessonUpdate.lessonAnswerDesc"></textarea>
            <div class="col-xs-6 col-xs-offset-3" style="width: 600px;">
                <div class="well">
                    <form action="" class="dropzone" dropzone="" id="dropzone">
                        <div class="dz-default dz-message">
                        </div>
                    </form>
                </div>
            </div>
            <div class="pull-right">
                
                <button class="btn btn-danger" ng-click="resetDropzone()">Reset drop wizard</button>
            </div>
        </div>
        <div class="info" ng-if="showAnswerFromTutor">
            Lesson Answers submitted by Tutor
            <p>Description : {{lesson.lessonAnswerDesc}}</p>
            <table border="1">
                <tr>
                    <th>#</th>
                    <th>Filename</th>
                </tr>
                <tr ng-repeat="file in lesson.fileList | filter:{ fileType: 'answer' }">
                    <td>{{$index+1}}</td>
                    <td><a href="/file/download/{{lesson.id}}?filename={{file.filePath}}&fileType=answer" class="contact">
                    {{file.actualFileName}}</a></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="info">
            <button  ng-click="updateStatus(lessonUpdate.status.id)">Update Status</button>
        </div>
        <br>
    </div>
    <br><br>
</div>
-->
<div class="container lesson-detail-container">
    <div class="row">
        <div class="col s12">
            <h4 class="inner-page-headings center">Lesson Detail</h4>
            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="row">
                        <div class="col s12">
                            <div class="card white z-depth-1 lesson-cards">
                                <div class="lesson-detail-header blue-grey lighten-1">
                                    <p class="center">{{lesson.subject.name}}</p>
                                </div>
                                <div class="row lesson-row valign-wrapper">
                                    <div class="col s6">
                                        <p class="left lesson-detail-top-row">Chirag Agrawal asked for help in:</p>
                                    </div>
                                    <div class="col s6">
                                        <p class="right lesson-detail-top-row">Expires at 24 Nov 2014 12:45 PM</p>
                                    </div>
                                </div>
                                <div class="row lesson-row valign-wrapper">
                                    <div class="col s12 lesson-detail-table-header valign-wrapper">
                                        <p>Title: <span>{{lesson.title}}</span></p>
                                    </div>
                                    <!-- <div class="col s9 lesson-detail-table-content"><p>{{lesson.taskDescription}}</p></div> -->
                                </div>
                                <div class="row lesson-row valign-wrapper">
                                    <div class="col s6 lesson-detail-table-header valign-wrapper">
                                        <p>Status: <span>{{lesson.status.name}}</span></p>
                                    </div>
                                    <!-- <div class="col s9 lesson-detail-table-content valign-wrapper"><p>{{lesson.title}}</p></div> -->
                                    <div class="col s6">
                                        <select id="update-status-select" ng-model="lessonUpdate.status.id" ng-change="checkSubmittedStatus(lessonUpdate.status.id)" material-select>
                                            <option value="" disabled selected>Select a status</option>
                                            <option value="-1">Update Status</option>
                                            <option  ng-repeat="lessonStatus in lessonStausList" ng-if="lessonStatus.id > lesson.status.id" value="{{lessonStatus.id}}">{{lessonStatus.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row lesson-row valign-wrapper">
                                    <div class="col s12 lesson-detail-table-header valign-wrapper">
                                        <p>Special requirements: <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae expedita distinctio temporibus maiores.</span></p>
                                    </div>
                                    
                                </div>

                                <div class="row lesson-row valign-wrapper">
                                    <div class="col s12 lesson-detail-table-header valign-wrapper">
                                        <p>Description: <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit asperiores ratione, commodi, sunt deleniti labore amet unde odio repellat fugiat quasi quae ex voluptatibus voluptas sapiente necessitatibus fuga, nihil est. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nostrum, id. Inventore quibusdam numquam earum natus porro culpa molestiae, minus eos deserunt amet, et ipsum consequatur, aliquid corporis eaque nobis.</span></p>
                                    </div>
                                    
                                </div>


                               <!--  <div class="row lesson-row valign-wrapper">
                                    <div class="col s3 lesson-detail-table-header valign-wrapper"><p>Fee amount</p></div>
                                    <div class="col s9 lesson-detail-table-content valign-wrapper"><p>{{lesson.dueAmount}}</p></div>
                                </div>
                                <div class="row lesson-row valign-wrapper">
                                    <div class="col s3 lesson-detail-table-header valign-wrapper"><p>Estimated work hours</p></div>
                                    <div class="col s9 lesson-detail-table-content valign-wrapper"><p>{{lesson.estimatedWorkEffort}}</p></div>
                                </div> -->
                            </div>  
                        </div>
                    </div>
                    <div class="row" style="display: none;">
                        <div class="col s12">
                            <div class="card white z-depth-1 lesson-cards">
                                <div class="lesson-detail-header blue-grey lighten-1">
                                    <p class="center">Lesson files</p>
                                </div>
                                <!-- <div class="row">
                                    <div class="col s12">
                                        <select ng-model="lessonUpdate.status.id" ng-change="checkSubmittedStatus(lessonUpdate.status.id)" material-select>
                                            <option value="" disabled selected>Select a status</option>
                                            <option value="-1">Update Status</option>
                                            <option  ng-repeat="lessonStatus in lessonStausList" ng-if="lessonStatus.id > lesson.status.id" value="{{lessonStatus.id}}">{{lessonStatus.name}}             </option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col s12">
                                        <table class="table highlight">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Filename</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="file in lesson.fileList | filter:{ fileType: 'question' }">
                                                    <td>{{$index+1}}</td>
                                                    <td><a href="/file/download/{{lesson.id}}?filename={{file.filePath}}&fileType=question" class="contact">
                                                    {{file.actualFileName}}</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l6">
                    <div class="row">
                        <div class="col s12">
                            <div class="card z-depth-1 chat-card">
                                <div class="lesson-detail-header blue-grey lighten-1">
                                    <p class="center">Chat</p>
                                </div>  

                                <div class="chat-container">
                                <div class="row chat-bubble-row" ng-repeat="message in messageList">
                                        <div class="col s12 chat-bubble-col">
                                            <div ng-init="cssClass = message.senderProfile.id == currentProfile.id" 
                                            ng-class = "cssClass ? 'chat-bubble chat-bubble-right' : 'chat-bubble chat-bubble-left'">
                                                <div class="chat-bubble-header">
                                                    <span class="sender-name">{{cssClass ? 'Me' : message.senderProfile.name}}</span>
                                                    <span class="sender-time">{{ message.createdDate  | date : "h:mm a MMM dd" }}</span>
                                                </div>
                                                <div class="chat-bubble-message">
                                                    <p ng-show="message.messageType !='file'" class="chat-message">{{message.description}}</p>
                                                    <p ng-show="message.messageType =='file'" class="chat-message">
                                                        <a href="/file/download/{{lesson.id}}?filename={{message.description}}&fileType=question" class="chat-image-link">
                                                            <i class="material-icons left">image</i><span class="chat-image-path"> {{message.actualFileName}}</span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="chat-message-composer-container">
                                    <div class="row valign-wrapper chat-message-composer-row">
                                        <div class="col s10">
                                            <div class="input-field chat-message-composer-input-field">
                                                <textarea name="chat-message-composer" id="chat-message-composer" rows="4" ng-model="message.description"></textarea>    
                                            </div>
                                            
                                        </div>
                                        <div class="col s2 chat-button-col" style="padding-left: 0;">
                                            <div class="row valign-wrapper chat-button-row" style="margin-bottom: 0;">
                                                <div class="col s6">
                                                    <button class="btn-floating green darken-1 waves-effect waves-light" id="send-message-btn" ng-click="addMessage();"><i class="material-icons">send</i></button>
                                                </div>
                                                
                                                  
                                                <div class="col s6" style="padding-left: 0;">
                                                    <!-- <input class="chat-file-upload-btn" type="file" file-model = "myFile"> -->
                                                    <button class="btn-floating btn-flat waves-effect waves-light send-message-btn" ng-click="uploadFile()"><i class="material-icons grey-text">attach_file</i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>