<div align="center">
    <table border="1">
        <tr>
            <th>Subject</th>
            <th>Task Description</th>
            <th>Title</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{lesson.subject.name}}</td>
            <td>{{lesson.taskDescription}}</td>
            <td>{{lesson.title}}</td>
            <td>{{lesson.status.name}}</td>
        </tr>
    </table>
    <br><br>
    <b>Messages</b>

    <div align="center">
        <table border="1">
            <tr>
                <th>#</th>
                <th>Filename</th>
            </tr>

           <tr ng-repeat="file in lesson.fileList | filter:{ fileType: 'question' }">
                <td>{{$index+1}}</td>
                <td><a href="/file/download/{{lesson.id}}?filename={{file.filePath}}&fileType=question" class="contact">
                    {{file.actualFileName}}</a></td>
            </tr>
        </table>

    </div>
    <div align="center">
        <table border="1">
            <tr>
                <th>#</th>
                <th>Sender</th>
                <th>Message/Query</th>
                <th>Sent At</th>
            </tr>

            <tr ng-repeat="message in messageList">
                <td>{{$index+1}}</td>
                <td>{{message.createdBy}}</td>
                <td ng-if="message.messageType!='file'">{{message.description}}</td>
                <td ng-if="message.messageType=='file'">
                    <a href="/file/download/{{lesson.id}}?filename={{message.description}}&fileType=question" class="contact">
                        {{message.actualFileName}}
                    </a>
                </td>
                <td>{{message.createdDate | date:'dd MMM yyyy hh:mm a'}}</td>
            </tr>
        </table>
        
        <div>
        <!-- please put only allow to number -->
        
        	<div class="form-group">
		        <label for="" class="col-sm-4 control-label">Fee Amount $ *</label>
		        <div class="col-sm-8">
		          <!-- only allow number to be entered -->
		          <input type="text" class="form-control required" ng-model="lessonUpdate.dueAmount" name="dueAmount" id="dueAmount"/>
		        </div>
	    	</div>
	    	
	    	<div class="form-group">
		        <label for="" class="col-sm-4 control-label">Estimated Work Effort (in Hours)</label>
		        <div class="col-sm-8">
		          <!-- only allow number to be entered -->
		          <input type="text" class="form-control required" ng-model="lessonUpdate.estimatedWorkEffort" name="estimatedWorkEffort" id="estimatedWorkEffort" />
		        </div>
	    	</div>
    </div>

    <div class="container">
        <input type="text" placeholder="Compose a new message..." ng-model="message.description" />
        <div class="info">
            <button  ng-click="addMessage();">Send</button>
            
             <button  ng-click="updateStatus(2);">Accept Lesson</button>
        </div>
        <hr />
        <input type="file" file-model = "myFile">
        <button ng-click = "uploadFile()">upload me</button>
    </div>

    <br><br>
</div>