<div align="center">
    <table border="1">
        <tr>
            <th>Subject</th>
            <th>Task Description</th>
            <th>Title</th>
            <th>Status</th>
            <th>Fee Amount $</th>
            <th>Estimated work hours</th>
        </tr>
        <tr>
            <td>{{lesson.subject.name}}</td>
            <td>{{lesson.taskDescription}}</td>
            <td>{{lesson.title}}</td>
            <td>{{lesson.status.name}}</td>
            <td>{{lesson.dueAmount}}</td>
            <td>{{lesson.estimatedWorkEffort}}</td>
        </tr>
    </table>
    <br><br>

    <b>Messages</b>

	
    <div align="center">
    
    	 <div class="col-sm-8">
	           <select ng-model="lessonUpdate.status.id" ng-change="checkSubmittedStatus(lessonUpdate.status.id)">
                   <option value="-1">Update Status</option>
                    <option  ng-repeat="lessonStatus in lessonStausList"
                             ng-if="lessonStatus.id > lesson.status.id" value="{{lessonStatus.id}}">
                        {{lessonStatus.name}}
                    </option>
       			</select>
	        </div>
	        
        <table border="1">
            <tr>
                <th>#</th>
                <th>Filename</th>
            </tr>
            <tr ng-repeat="file in lesson.fileList | filter:{ fileType: 'question' }">
                <td>{{$index+1}}</td>
                <td><a href="/file/download/{{lesson.id}}?filename={{file.filePath}}&fileType=question" class="contact">
                    {{file.actualFileName}}</a></td>
            </tr>
        </table>

    </div>

    <div align="center">
        <table border="1">
            <tr>
                <th>#</th>
                <th>Sender</th>
                <th>Message/Query</th>
                <th>Sent At</th>
            </tr>

            <tr ng-repeat="message in messageList">
                <td>{{$index+1}}</td>
                <td>{{message.createdBy}}</td>
                <td ng-if="message.messageType!='file'">{{message.description}}</td>
                <td ng-if="message.messageType=='file'">
                    <a href="/file/download/{{lesson.id}}?filename={{message.description}}&fileType=question" class="contact">
                        {{message.actualFileName}}
                    </a>
                </td>
                <td>{{message.createdDate | date:'dd MMM yyyy h:m a'}}</td>
            </tr>
        </table>
    </div>

    <div class="container">
        <input type="text" placeholder="Compose a new message..." ng-model="message.description"/>
        <div class="info">
            <button  ng-click="addMessage();">Send</button>
        </div>
        <br />
        <input type="file" file-model = "myFile">
        <button ng-click = "uploadFile()">upload me</button>
        <br>
        <br>
        <hr/>
        <div class="info" ng-if="showAnswerFillSection">
            <textarea rows="4" cols="20" ng-model="lessonUpdate.lessonAnswerDesc"></textarea>
            <div class="col-xs-6 col-xs-offset-3" style="width: 600px;">
                <div class="well">
                    <form action="" class="dropzone" dropzone="" id="dropzone">
                        <div class="dz-default dz-message">
                        </div>
                    </form>
                </div>
            </div>
            <div class="pull-right">
                <!--<button class="btn btn-success" ng-click="processDropzone()">Upload File</button>-->
                <button class="btn btn-danger" ng-click="resetDropzone()">Reset drop wizard</button>
            </div>
        </div>

        <div class="info" ng-if="showAnswerFromTutor">
            Lesson Answers submitted by Tutor
            <p>Description : {{lesson.lessonAnswerDesc}}</p>
            <table border="1">
                <tr>
                    <th>#</th>
                    <th>Filename</th>
                </tr>
                <tr ng-repeat="file in lesson.fileList | filter:{ fileType: 'answer' }">
                    <td>{{$index+1}}</td>
                    <td><a href="/file/download/{{lesson.id}}?filename={{file.filePath}}&fileType=answer" class="contact">
                        {{file.actualFileName}}</a></td>
                </tr>
            </table>
        </div>

        <br>
        <div class="info">
            <button  ng-click="updateStatus(lessonUpdate.status.id)">Update Status</button>
        </div>
        <br>
    </div>
    <br><br>
</div>