<!-- ~~~~~~~~~~~~~~~NEW SIGN UP PAGE CODE~~~~~~~~~~~~~~~ -->
<div class="container">
	<div class="row" id="login-row">
		<div class="col s12 m6 l6 push-m3 push-l3 white z-depth-2 center">
			<form name="loginForm" class=" login-form-wrapper-div">
				<div class="row" id="top-row">
					<div class="col s12 center" style="padding: 0;">
						<div id="top-row-strip"></div>
						<!-- <img src="images/tutorialpoint-logo.png" width="200" alt="">  -->
						<p class="login-text center">Login</p>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12 l12">
						
						<div class="row no-bot-margin-row">
							<div class="col s3">
								<p class="field-label">Email</p>
							</div>
							<div class="input-field col s9">
								<input type="text" class="validate" ng-model="login.email" required>
							</div>
						</div>
						
						<div class="row">
							<div class="col s3">
								<p class="field-label">Password</p>
							</div>
							<div class="input-field col s9">
								<input id="password" type="password" class="validate" ng-model="login.password" ng-minlength="6" required>
							</div>
						</div>

						<div class="row">
							<div class="col s12">
								<a href="#!/forgotPassword">Forgot Password?</a>
							</div>
						</div>

					</div>
					
				</div>
				
				
				<div class="row">
					<button class="btn green waves-effect waves-light" ng-click="validateUser(loginForm)">Log in</button>
				</div>
			</form>
		</div>
	</div>
</div>