<!-- ~~~~~~~~~~~~~~~NEW SIGN UP PAGE CODE~~~~~~~~~~~~~~~ -->
<div class="container">
	<div class="row" id="signup-row">
		<div class="col s12 m10 l10 push-m1 push-l1 white z-depth-2 center">
			<form name="registerForm" class="sign-up-form-wrapper-div">
				<div class="row" id="top-row">
					<div class="col s12 center" style="padding: 0;">
						<div id="top-row-strip"></div>
						<p class="sign-up-text center">Sign up</p>
					</div>
				</div>
				<div class="row">
					<div class="col s16 m6 l6">
						<div class="row no-bot-margin-row">
							<div class="col s4">
								<p class="field-label">Username</p>
							</div>
							<div class="input-field col s8">
								<input ng-model="profile.name" type="text" class="validate">
							</div>
						</div>
						<div class="row no-bot-margin-row">
							<div class="col s4">
								<p class="field-label">Email</p>
							</div>
							<div class="input-field col s8">
								<input ng-model="profile.email" type="email" class="validate">
							</div>
						</div>
						<div class="row no-bot-margin-row">
							<div class="col s4">
								<p class="field-label">Country</p>
							</div>
							<div class="input-field col s8">
								<input ng-model="profile.country" type="text" class="validate">
							</div>
						</div>
						<div class="row no-bot-margin-row">
							<div class="col s4">
								<p class="field-label">Contact Number</p>
							</div>
							<div class="input-field col s8">
								<input ng-model="profile.contactNumber"type="text" class="validate">
							</div>
						</div>
					</div>
					<div class="col s16 m6 l6">
						<div class="row no-bot-margin-row">
							<div class="col s4">
								<p class="field-label">Skype ID</p>
							</div>
							<div class="input-field col s8">
								<input ng-model="profile.skypeId" type="text" class="validate">
							</div>
						</div>
						<div class="row no-bot-margin-row">
							<div class="col s4">
								<p class="field-label">Password</p>
							</div>
							<div class="input-field col s8">
								<input ng-model="profile.password" type="password" class="validate">
							</div>
						</div>
						<div class="row no-bot-margin-row">
							<div class="col s4">
								<p class="field-label">Confirm Password</p>
							</div>
							<div class="input-field col s8">
								<input ng-model="profile.confirmPassword" type="password" class="validate">
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<button class="btn waves-effect waves-light" ng-click="createProfile(registerForm);">Sign Up</button>
				</div>
			</form>
		</div>
	</div>
</div>