<div class="section">
    <h3>{{headingTitle}}</h3>

    <div class="home-section">
    
    <form name="registerForm" novalidate="">
    
	     <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Name</label>
	        <div class="col-sm-8">
	          <input type="text" class="form-control required" ng-model="profile.name" name="name" id="name" required/>
	        </div>
	    </div>
    
	    <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Email</label>
	        <div class="col-sm-8">
	          <input type="email" class="form-control required" ng-model="profile.email" name="email" id="email" required/>
	        </div>
	    </div>
	    
	    <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Country</label>
	        <div class="col-sm-8">
	          <input type="text" class="form-control required" ng-model="profile.country" name="country" id="country" required/>
	        </div>
	    </div>
	    
	     <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Contact Number</label>
	        <div class="col-sm-8">
	          <input type="text" class="form-control required" ng-model="profile.contactNumber" name="contactNumber" id="contactNumber" />
	        </div>
	    </div>
	    
	    <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Skype Id</label>
	        <div class="col-sm-8">
	          <input type="text" class="form-control required" ng-model="profile.skypeId" name="skypeId" id="skypeId" />
	        </div>
	    </div>
	    
	    <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Password</label>
	        <div class="col-sm-8">
	          <input type="password" class="form-control required" ng-model="profile.password"
					 name="password" id="password"  ng-minlength="6" required/>
	        </div>
	    </div>
	    
	    <div class="form-group">
	        <label for="" class="col-sm-4 control-label">Confirm Password</label>
	        <div class="col-sm-8">
	          <input type="password" class="form-control required" ng-model="profile.confirmPassword"
					 name="confirmPassword" id="confirmPassword" ng-minlength="6" required/>
	        </div>
	    </div>
	    
	</form>
	
        <button type="submit" ng-click="createProfile(registerForm)">
            <span>Sign Up</span>
        </button>
    </div>

</div>