<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
            <div class="card card-signup">
                <form class="form" name="registerForm" novalidate="">
                    <div class="header header-primary text-center">
                        <h4>{{headingTitle}}</h4>
                    </div>
                    <div class="content">
                        <div class="clearfix"></div>
                        <h3 class="mt-0 logoTxt"><span class="logop1">Tutorial</span><span class="logop2">Point</span></h3>
                        <p class="help-block">Learn your way</p>
                        <div class="alert alert-danger hide alertMessage" role="alert"></div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control required" ng-model="profile.username" name="username" id="username" placeholder="Enter Username"/>
                            </div>
                        </div>			  
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control required" ng-model="profile.email" name="email" id="email"  placeholder="Enter Your Email"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control required" ng-model="profile.name" name="name" id="name" placeholder="Enter Your Full Name"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control required" ng-model="profile.contactNumber" name="contactNumber" id="contactNumber"  placeholder="Contact Number"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">	
                            <div class="form-group">
                                <input type="password" class="form-control required" ng-model="profile.password"
                                       name="password" id="password"  ng-minlength="6"  placeholder="Password..."/>
                            </div>
                        </div>	
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="password" class="form-control required" ng-model="profile.confirmPassword"
                                       name="confirmPassword" id="confirmPassword" ng-minlength="6"  placeholder="Confirm Password..."/>
                            </div>               
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <select id="lesson_select" ng-model="profile.country" class="form-control">
                                    <option value="" disabled selected>Select Your Country</option>
                                    <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
                                </select>
                            </div>
                        </div>	
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control required" ng-model="profile.skypeId" name="skypeId" id="skypeId"  placeholder="Enter Your Skype Id"/>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-raised"  ng-click="createProfile(registerForm)">Sign Up</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="col-lg-12 text-center"> <a href="#!/login" class="text-uppercase text-white">Back to Login</a>
        </div>
    </div>
</div>