







.menu-list{
    padding-left: 30px;
    padding-top: 20px;
}
/*.home-section{
    float:left;
    width: 10%;
}
.section{
    margin-left: 10%;
    float:left;
}
.photo{
    padding-right: 5px;
}*/
body {
	/*font-family: Montserrat, Roboto, sans-serif;*/
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eee;
}

main {
	flex: 1 0 auto;
}

nav {
	background: #ff00cc;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(left, #333399, #ff00cc);
	background: -o-linear-gradient(left, #333399, #ff00cc);
	background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-weight: 300;

}

.nav-container {
	width: 92%;
}

.logo-nav  {
	width: 221px;
}

.cls-1 {
	fill: #ffa000;
}

.logo-nav .cls-1 {
	fill: white;
}

.logo-nav .cls-2 {
	fill: white;
}

.logo {
	margin-top: 25px;
    width: 221px;
}

.profile-photo {
    width: 34px;	
    margin-right: 10px;
}

.dropdown-content {
	top: initial;
}

.page-footer {
	padding-top: 0;
}

.page-footer>#footer-content {
	display: none;
}


.no-bot-margin-row {
	margin-bottom: 0;
}


#signup-row, #login-row {
	margin-top: 50px;
}

#top-row {
	margin-left: -.75rem;
	margin-right: -.75rem;
	
}

#top-row-strip {
	background: #ff00cc;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(left, #333399, #ff00cc);
	background: -o-linear-gradient(left, #333399, #ff00cc);
	background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-top: 0;
	width: 100%;
	height: 8px;
}

.field-label {
	margin-top: 26px;
	text-align: left;
}

.logo-placeholder {
	width: 60px;
	height: 60px;
	background-color: rgba(0,0,0,0.7);	
	margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.sign-up-text, .login-text {
    margin-top: 15px;
	margin-bottom: 0;
    font-size: 17pt;
}




/*~~~~~~~~~~Lesson History Page~~~~~~~~~~*/

.breadcrumbs-container .breadcrumb {
	color: #3d3d3d;
	display: none;
}

.breadcrumbs-container .row {
	/*margin-top: 20px;*/
	margin-bottom: 0;
}


.breadcrumb:before {
	color: #3d3d3d;
}




.inner-page-headings {
	font-size: 20pt;
	text-transform: uppercase;
	margin-top: 40px;
    color: #3d3d3d;
}

.table-header {
	
}

.table-header tr th {
	border-radius: 0;
    color: white;
    font-weight: 400;
    /* text-transform: uppercase; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-body tr td {
	/*font-weight: 300;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-header-modified {
	color: white;
}



.lesson-detail-header {
	margin-left: -11.25px;
	margin-right: -11.25px;
	margin-top: 0;
	padding: 5px 0;


	/*background-color: red;*/
}

.lesson-detail-header p {
	color: white;
	font-size: 14pt;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}

.lesson-detail-container {
	width: 92%;
}

.lesson-cards {
	padding-left: 11.25px;
	padding-right: 11.25px;
	/*padding-bottom: 11.25px;*/
}

.lesson-row {
	margin-bottom: 0;
	min-height: 46px;
	/*border-bottom: 1px solid #eee;*/
}

.lesson-detail-table-header {
	font-weight: 500;
    /*border-right: 1px solid #eee;*/
    height: 100%;
}

.lesson-detail-table-header p {
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0;
}

.lesson-detail-table-header p span {
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

.lesson-detail-table-content {

}

.lesson-detail-table-content p {
	margin-top: 0;
	margin-bottom: 0;
}

.chat-card {
	padding-left: 11.25px;
	padding-right: 11.25px;
	height: 400px;
	background-color: #f4f0eb;
}

.chat-container {
	height: 246px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 11.25px;
}

.chat-bubble-row {
	margin-top: 20px;
}

.chat-bubble-col {
	/*height: 60px;*/
	/*padding-right: 21px;*/
}

.chat-bubble {
	width: 70%;
    height: 100%;
    background-color: #ceffa7;
    border-radius: 2px 2px 2px 2px;
    
}

.chat-bubble-right {
	float: right;
	border-radius: 4px 0 4px 4px;
	box-shadow: 2px 3px rgba(0,0,0,0.07);
}

.chat-bubble-left {
	float: left;
	border-radius: 0 4px 4px 4px;
	box-shadow: -2px 3px rgba(0,0,0,0.07);
}

.chat-bubble-right .chat-bubble-header {
    background-color: #c6fb9d;
    height: 25px;
    border-radius: 4px 0 0 0;
    color: #313131;
	
}

.chat-bubble-left .chat-bubble-header {
    background-color: #c6fb9d;
    height: 25px;
    border-radius: 0 4px 0 0;
    color: #313131;
	
}



.sender-name {
	font-size: 10pt;
	margin-left: 7px;
	font-weight: 500;
	float: left;
	margin-top: 3px;
}

.sender-time {
	font-size: 10pt;
	margin-right: 7px;
	font-weight: 500;
	float: right;
	margin-top: 3px;
}

.chat-bubble-message {
    padding-left: 11px;
    padding-right: 7px;
}

.chat-message {
    margin-top: 5px;
    margin-bottom: 8px;
}

.chat-message-composer-container {
	margin-top: 20px;
}

#chat-message-composer {
	overflow: hidden;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #e2e2e2;
    height: 72px;
}

.chat-message-composer-input-field {
	margin-bottom: 5px;
}

.chat-message-composer-row {
	background-color: #f1e8de;
}

.chat-image-link {
	color: #2780de;
	text-decoration: underline;
}

.chat-button-col {
	padding-left: 0;
}

.chat-button-row {
	margin-bottom: 0;
}

.send-message-btn:hover {
	background-color: #dedbdb;
}

.chat-file-upload-btn {
	/*visibility: hidden;*/
}

.tab-buttons {
	padding: 8px 10px 10px 10px;
	color: #3d3d3d;
	border: 1px solid #3d3d3d;
	margin-right: 10px;
	transition: all 200ms ease-out;
}

.tab-buttons:hover {
	padding: 8px 10px 10px 10px;
	color: white;
	/*border: 1px solid #3d3d3d;*/
	background-color: #3d3d3d;
	transition: all 200ms ease-in;
}


.lesson-detail-top-row {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
}

#update-status-select {
	margin-bottom: 0;
	height: 40px;
}