@import url('https://fonts.googleapis.com/css?family=Montserrat');


html, body {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    padding: 30px 0px;
}

a.brand-logo {
    padding: 18px 0px;
    display: inline-block;
}

.bg-custom {
    background: linear-gradient(60deg, #da523c, #ffbd4d);
}

.home-wrapper {
    padding: 180px 0px;
}

.credential-page {
    background-position: top center;
    padding: 150px 0px 100px 0px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+37,e8c397+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 37%, #e4e4e4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 37%,#e4e4e4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 37%,#e4e4e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(60deg, #da523c, #ffbd4d);
}

.card .header-primary {
    background: linear-gradient(60deg, #ffa000, #fb2b50);
}

.card-signup .header {
    padding: 10px 0px;
}

.card.card-signup {
    border: 1px solid #ff9517;
    /* box-shadow: 0px 0px 4px #fc384b; */
    margin-bottom: 20px;
    border-color: #303e47;
}

.custom-link {
    color: #ffa000;
    font-weight: bold;
    color: #FFF;
}

.custom-link:hover {
    color: #FFF;
}


.btn.btn-raised.btn-primary, .btn.btn-fab.btn-primary, .btn-group-raised .btn.btn-primary, .input-group-btn .btn.btn-raised.btn-primary, .input-group-btn .btn.btn-fab.btn-primary, .btn-group-raised.input-group-btn .btn.btn-primary {
    background-color: #fc354d;
    color: #ffffff;
}

.dashbaord-page {
    background: #e6e6e6;
    min-height: 600px;
}

a {
    color: #ffa000;
    text-decoration: none;
}

a:hover, a:focus {
    color: #ffa000;
    text-decoration: underline;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    box-shadow: inset 0 -3px 0 #ffa000;
    border: 0;
    background-color: transparent;
}

.boxs .boxs-header.tp-bar {
    background: #ffa000;
    color: #FFF;
    border-radius: 0px;
}

.danger a,.danger td {
    color: #ef686f;
}

.success a, .success td {
    color: green;
}

.padding0 {
    padding: 0px !important;
}

.mh500 {
    min-height: 500px;
}

.boxs.border-tp {
    /* border: 1px solid #ffa000; */
}

.boxs-tp-grey {
    background: #f2f2f2;
}


.btn-margin0 {
    margin: 0px;
}

.mgr-50 {
    margin-right: 50px;
    display: inline-block;
}

.btn-update {
    padding: 2px 15px !important;
    position: relative;
    top: -2px;
}

.chat-box-page-wrap {
    border-top: 1px solid #ffa000;
    padding-top: 10px;
    /* margin-top: 10px; */
}

.chat-bubble-header {
    font-size: 10px;
    color: #bdb5b5;
}

.chat-bubble-header .sender-name {
    color: #868686;
}

.card.white.z-depth-1.lesson-cards > .row:nth-child(odd) {
    background: #f9f9f9;
}

.card.white.z-depth-1.lesson-cards > .row.nocolor {
    background: #FFF;
    margin-bottom: 15px;
}

.card.white.z-depth-1.lesson-cards > .row.nocolor p {
    margin: 0px;
}


.card.white.z-depth-1.lesson-cards > .row p {
    margin-top: 10px;
}

.chat-container .chat-bubble-row:nth-child(odd) {
    background: #f9f9f9;
}

textarea#chat-message-composer {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 0px;
    height: 35px !important;
    padding-right: 95px;
    font-size: 13px;
}

.chat-message-composer-row {
    background: #f2f2f2;
    margin-bottom: -15px;
    border-top: 1px solid #dcdcdc;
    position: absolute;
    bottom: -6px;
}

.back-btn-lh i {position: relative;top: 1px;margin-right: 5px;}

.back-btn-lh {
    margin-bottom: 10px;
    display: inline-block;
    color: #303e47;
    font-weight: lighter;
}

a.back-btn-lh:hover {
    text-decoration: none;
}


.new-lesson-cards > .boxs {
    margin-bottom: 0px;
}

.upload-div .well {
    margin-bottom: 0px;
    margin: 0px -15px;
    border: none;
    background: #f2f2f2;
    padding: 10px;
}

.upload-div .dropzone {
    border: 2px dashed rgba(169, 161, 161, 0.6);
    background: #fbfbfb;
}

form#lessonForm > .row {
    border-bottom: 1px dashed rgba(208, 205, 201, 0.32);
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.upload-div p.field-label {
    color: #AAAAAA;
}

.upload-div {
    margin-top: 15px;
}

.attach-files-row {
    border-bottom: 1px dashed rgba(208, 205, 201, 0.32);
}

.boxs .boxs-body.paddingb0 {
    padding-bottom: 0px;
}

.marginb0 {
    margin-bottom: 0px;
}

.editProfileForm > .row,
.updatePasswordForm > .row {
    border-bottom: 1px dashed rgba(208, 205, 201, 0.32);
    margin-bottom: 0px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    a.brand-logo {
        padding: 10px;
    }
}

.btn-white-fill:hover {
    background: #FFF !important;
    color: #F3A33A !important;
    box-shadow: 0 0 8px rgba(0,0,0,0.18), 0 8px 16px rgba(0,0,0,0.36);
}

.btn-white-fill {
    background: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #F3A33A !important;
}

.navbar-custom {
    padding: 0px 0px;
}

.pdr0 {
    padding-right: 0px !important;
}

.navbar-custom .navbar-nav li a {
    color: #FFF;
    font-weight: bold;
    margin: 7px 0px 5px 0px;
    font-size: 13px;
    padding: 5px 20px;
    font-weight: lighter !important;
}

.back-to-top:hover, .btn-custom, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #ffa000 !important;
}

.dropdown.nav-profile .dropdown-menu li a {
    padding: 10px 15px;
    font-size: 14px !important;
    font-weight: lighter;
}

.dropdown.nav-profile .dropdown-menu {
    min-width: 200px;
    padding-top: 0;
    border-color: #303e47;
    border-radius: 0px 0px 3px 3px !important;
    border-top: 0px;
    margin-top: 3px;
}

.profile-photo {
    border-radius: 30px;
    border: 1px solid black;
}


.btn.btn-raised.btn-primary, .btn.btn-fab.btn-primary, .btn-group-raised .btn.btn-primary, .input-group-btn .btn.btn-raised.btn-primary, .input-group-btn .btn.btn-fab.btn-primary, .btn-group-raised.input-group-btn .btn.btn-primary {
    background-color: #ffa000;
    color: #ffffff;
}

.navbar-credential {
    margin-top: 8px;
}

.navbar-custom .navbar-nav li a.btn-navbar-std {
    background: #171e23 !important;
    text-transform: capitalize;
}

.navbar-custom .navbar-nav li a.btn-navbar-std:hover,.navbar-custom .navbar-nav li a.btn-navbar-std:active {
    background: #171e23;
    color: #ffa000;
}

.navbar-user a.dropdown-toggle {
    margin-top: 13px !important;
    font-size: 14px !important;
}

.navbar-user a.dropdown-toggle img {
    display: inline-block;
    margin-right: 10px;
}

.lesson-wrap {
    background: #ffffff;
    border-bottom: 10px solid #f2f2f2;
    /* border-top: none; */
    color: #5a5555;
    border-top-color: #f2f2f2;
}

.lesson-wrap a {
    color: #1c774a;
}

.lesson-status .label {
    font-weight: bold;
    padding: 3px 9px;
    text-transform: capitalize;
}

.lesson-wrap .lesson-item span {
    color: #403d3d;
}

.back-to-top:hover, .btn-custom, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background: #FFF !important;
    color: #ff8600 !important;
    box-shadow: none !important;
}

.lessondata-tabs, .lessondata-tabs > ul {
    background: #ffa000;
}

.lessondata-tabs > ul li.active a {
    background: #FFF !important;
    box-shadow: none !important;
}

.lessondata-tabs > ul li a {
    color: #FFF;
}

.lessondata-tabs > ul li a:hover {
    background-color: #cc8104;
}

.lessondata-tabs > ul {
    border: 4px solid #ffa000;
    border-bottom: none;
}

.ui-select-bootstrap>.ui-select-match {
    background: transparent;
    outline: none;
    box-shadow: none;
}

.ui-select-bootstrap>.ui-select-match>span:first-of-type {
    padding-left: 0px;
    height: 36px;
    margin-top: 0px;
    padding-top: 9px;
}

.ui-select-bootstrap .ui-select-choices-row.active>span {
    background-color: #37a73c;
}

.ui-select-bootstrap .ui-select-match-text span {
    color: rgba(0, 0, 0, 0.9);
    font-style: normal;
    font-size: 14px;
    text-transform: initial;
}

.chat-card {
    height: 325px;
    position: relative;
}

.chat-container {
    height: 320px;
    overflow-y: auto;
    margin: -11px -15px 0px -15px;
    padding: 10px;
}

.card.card-signup .form-group {
    text-align: left;
}

.form-control {
    color: rgba(0, 0, 0, 0.90);
}

.ui-select-bootstrap>.ui-select-choices {
    border: 1px solid rgb(210, 210, 210);
    border-image: initial;
    margin-top: -7px;
    border-top: none;
    border-radius: 0px !important;
    padding: 0px;
}

.text-black {
    color: #000;
}

.lesson-no-data {
    display: flex;
    width: 100%;
    height: 513px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.dropzone.dz-clickable .dz-message {
    margin: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 188px;
}

.btn-browse {
    border: 2px solid #F3A33A;
    background: #FFF;
    text-transform: capitalize;
    margin: 5px 0px 0px 0px;
    outline: none;
}

.btn-browse:hover, .btn-browse:focus {
    border: 2px solid #F3A33A;
    background: #f2f2f2;
    border-color: #ffa000 !important;
}

p.dpz-or {
    font-size: 12px;
    margin: 0px;
}

p.dpz-label {
    margin: 0px;
}

.dropzone-inner-message {
    color: dimgrey;
}

p.dpz-btn {
    margin: 0px;
}

.upload-div .dropzone:hover {
    background: #FFF;
}

.ui-select-bootstrap .ui-select-choices-row>span {
    padding: 10px;
    margin: 0px;
    border-bottom: 1px dotted rgba(210, 210, 210, 0.57);
}

.ui-select-bootstrap>.ui-select-choices, .ui-select-bootstrap>.ui-select-no-choice {
    max-height: 230px;
}

.lessons-list .lesson-wrap:last-child {
    border-bottom: 0px;
}

.chatIcon {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffa000;
    border-radius: 50%;
    font-size: 23px;
}

.chatIcon a {
    color: #FFF;
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    border-radius: 50%;
}

.chatIcon a:hover {
    box-shadow: 0px 0px 10px #000;
}

.chatbox-wrap {
    position: fixed;
    width: 400px;
    height: 400px;
    right: 3%;
    bottom: 8%;
    overflow: hidden;
    box-shadow: 0px 0px 8px black !important;
    transition: all .2s ease;
    transform: translateY(0px);
}

.btn-chat-item {
    position: absolute;
    bottom: -1px;
    right: 0px;
    padding: 11px 14px !important;
    margin: 0px;
    background: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    border-radius: 0px !important;
    border: 1px solid rgba(202, 202, 202, 0.2);
    color: #0a0909 !important;
}

.btn-send-chat {
    right: 41px;
}

.btn-chat-item a {
    color: red;
}

.btn-chat-item:hover, .btn-chat-item:active {
    border: 1px solid rgba(202, 202, 202, 0.2) !important;
    color: #0a0909 !important;
    text-decoration: none;
    background: #e8e8e8 !important;
    border: 1px solid rgba(202, 202, 202, 0.2) !important;
}

.chat-message-composer-input-field {
    padding: 0px;
    margin: 0px;
}

.chat-container .chat-bubble-row p {
    font-size: 12px;
}

.chatbox-close {
    height: 0px;
    width: 0px;
    opacity: 0;
    -webkit-transform: translateY(56px);
    -moz-transform: translateY(56px);
    -ms-transform: translateY(56px);
    -o-transform: translateY(56px);
    transform: translateY(56px);
}